*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: oklab(85.773% 0.00106 0.13048);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;

}
.screen{
    display: none;
    padding: 2rem;
    text-align: center;

}
.screen.active{
    display: block;
}
#start-screen h1{
    color: red;
    margin-bottom: 20px;
    font-size: 2.5rem;

}
#start-screen p{
    color: #666;
    margin-bottom: 30px;
    font-size: 1.1rem;
}
.quiz-header{
    margin-bottom: 2rem;
}

#question-text{
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4;
}
.quiz-info{
    display: flex;
    justify-content: space-between;
    color: #666;
    margin-bottom: 10px;
}
.answer-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;

}
.answer-container{
    background-color: #f8f0e5;
    color: #333;
    border: 2px solid #eadbc8;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    text-align: left;
    transition: all 0.2s ease;
}
.answer-container:hover{
    background: #eadbc8;
    border-color: #dac0ae;
}
.answer-container.correct{
    background-color: #e6fff0;
    border-color: #a3f0c4;
    color: #28a745;
}
.answer-container.incorrect{
    background: #fff0f0;
    border-color: #ffbdbd;
    color: #dc3545;
}
.progress-bar{
    height: 10px;
    background-color: #f8f0e5;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}
.progress{
    height: 100px;
    background-color: #e86a33;
    width: 0%;
    transition: width 0.2s ease;
}
#result-screen h1{
color: #e86a33;
margin-bottom: 30px;
}
.result.info{
    background-color: #f8f0e5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;

}
.result-info p{
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1rem;

}
#result-message{
    font-size: 1.5rem;
    font-weight: 600;
    color: #e86a33;
}
button{
    background-color: #e86a33;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover{
    background-color: #d45b28;
}
@media(max-width:500px){
    .screen{
        padding: 1rem;
    
    }

    #start-screen h1{
        font-size: 2rem;
    }

}